* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#canvas {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9999999;
  background-color: rgb(29, 27, 27);
}
#navManu {
  position: fixed;
  width: 100px;
  height: 325px;
  top: 5em;
  right: -4px;
  /* right: -77px; */
  z-index: 99999990;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #97aae9,
    #e2e2e2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #97aae9, #e2e2e2);
  border-bottom-left-radius: 2.2em;
  border-top-left-radius: 2.2em;
}

div#colorContainer {
  display: grid;
  /* grid: 1fr 1fr; */
  grid-template-columns: 40px 40px;
  height: 40px;
}
/* #navManu:hover {
  right: 0px;
  transition: 90ms ease-in;
} */
div#colorItem0,
div#colorItem1,
div#colorItem2,
div#colorItem3,
div#colorItem4,
input#colorItem5 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}
div#colorItem0 {
  background-color: yellow;
  border: 2px solid rgb(29, 27, 27);
}

div#colorItem1 {
  background-color: rgb(6, 134, 253);
  border: 2px solid rgb(29, 27, 27);
}

div#colorItem2 {
  background-color: rgb(35, 253, 6);
  border: 2px solid rgb(29, 27, 27);
}

div#colorItem3 {
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(29, 27, 27);
}

div#colorItem4 {
  background-color: rgb(255, 0, 0);
  border: 2px solid rgb(252, 252, 252);
}

input#colorItem5 {
  border: none;
  overflow: hidden;
  border-radius: none;
}

div#penContainer {
  height: 40px;
  margin-top: 100px;
}

div#penItem0,
div#penItem1,
div#penItem2,
div#penItem3,
div#penItem4 {
  width: 76px;
  margin-top: 5px;
  margin-left: 8px;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
}

div#penItem0 {
  height: 3px;
}

div#penItem1 {
  margin-top: 5px;
  height: 6px;
}

div#penItem2 {
  height: 8px;
}

div#penItem3 {
  height: 14px;
}

div#colorItem0:hover,
div#colorItem1:hover,
div#colorItem2:hover,
div#colorItem3:hover,
div#colorItem4:hover {
  border: 1px solid red;
}

div#penItem0:hover,
div#penItem1:hover,
div#penItem2:hover,
div#penItem3:hover {
  border: 1px solid red;
}

div#bgContainer {
  display: grid;
  /* grid: 1fr 1fr; */
  grid-template-columns: 1fr 1fr;
  height: 40px;
  width: 76px;
  margin-top: 15px;
  margin-left: 16px;
}

div#bgItem0,
div#bgItem1,
div#bgItem2,
div#bgItem3 {
  width: 25px;
  height: 25px;
  margin-top: 5px;
  border-radius: 4px;
  cursor: pointer;
}

div#bgItem0 {
  background-color: rgb(29, 27, 27);
}

div#bgItem1 {
  background-color: white;
}

div#bgItem2 {
  background-color: rgba(6, 91, 145, 0.76);
}

div#bgItem3 {
  background-color: rgba(6, 92, 145, 0);
  border: 2px dashed black;
}

div#buttonContainer {
  display: grid;
  /* grid: 1fr 1fr; */
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 4px;
  height: 40px;
  width: 76px;
  padding: 2px;
  margin-top: 2em;
  margin-left: 16px;
}

#buttonItem0 {
  border-radius: 4px;
  padding: 2px;
  background-color: #e2e2e2;
}


#buttonItem1 {
  content: "EXIT";
  padding: 2px;
  border-radius: 4px;
  background-color: red;
  color: white;
}