*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#canvas{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1000;
    background-color: rgb(29, 27, 27);
}
#navManu{
    position: fixed;
    width: 50px;
    height: 300px;
    top: 5em;
    right: 0px;
    z-index: 20001;
    background-color: red;
    border-bottom-left-radius: 3em;
    border-top-left-radius: 3em;
}